<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB2wACKa4TdOqKCA9U1tLWpBuxRmU5JnAg</string>
	<key>GCM_SENDER_ID</key>
	<string>35187832245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.nervousSystem</string>
	<key>PROJECT_ID</key>
	<string>nervous-system-92cb7</string>
	<key>STORAGE_BUCKET</key>
	<string>nervous-system-92cb7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:35187832245:ios:18bca6f6c89ccd26e495fc</string>
</dict>
</plist>